<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Menu</title>
</head>
<body>
    <h1>Menu</h1>
    <a href="{% url 'management:landing_page' %}"> Go Back to Actions</a?
    <br>
    <br>
    <a href="{% url 'management:add_menu_item' %}">Add New Item</a>
    <br>
    <a href="{% url 'management:specific_view_menu' %}">view specific</a>
    <br>

    <table border="1">
        <thead>
            <tr style="text-align:center;">
                <th>Item Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Rating</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody style="text-align:center;">
            {% for item in menu_items %}
                <tr>
                    <td>{{ item.item_name }}</td>
                    <td>Rs. {{ item.item_price }}</td>
                    <td>{{ item.item_desc }}</td>
                    <td>{{ item.item_rating }}</td>
                    <td>
                        <img src="{{ item.item_image.url }}" alt="{{ item.item_name }}" width="250" height="200">
                    </td>
                    <td>
                        <a href="{% url 'management:update_menu' item.item_id %}">Update</a>
                        <br>
                        <br>
                        <a href="{% url 'management:remove_menu_item' item.item_id %}">Remove</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6">No menu items available.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <br>

</body>
</html>
