<!DOCTYPE html>
<html>
<head>
    <title>Upload Excel File</title>
</head>
<body>
    <h1>Upload Excel File</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        {{field}}
        {% endfor %}
        <br>
        <br>
        <button type="submit">Upload</button>
    </form>
    {% if form.errors %}
        <div style="color: red;">
            <h3>Errors:</h3>
            <ul>
                {% for errors in form.errors.items %}
                    <li>{{ field }}: {{ errors|join:", " }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</body>

</html>