{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<section id="login_user">
  <div style="width: 30%; margin: auto; margin-bottom: 2rem;">
    <h1 style="text-align: center;">Login</h1>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <br>
      <div class="btn-box">
        <button class="btn1" type="submit">Log In</button></div>
      <br>
      <br>
      <a href="{% url 'register_user' %}">Register</a>
      <br>
      <br>
      <a href="{% url 'admin:index' %}">Admin Login</a>
    </form>
  </div>
</section>
{% endblock %}
