{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<section id="register_user">
  <h1 style="text-align: center;">Register</h1>
  <form  style="width: 30%;" method="POST" action="">
    {% csrf_token %}
    {%for field in form %}
    <div>
      <label for="{{field.id_for_label}}">{{field.label}}</label>
      <br>
      {{field}}
    {% if field.errors %}
      <div style="color: red;" class="form-errors">
        {% for error in field.errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    {% endfor %}

    <div class="btn-box">
        <button class="btn1" style="margin-bottom: 10%;" type="submit" name="Create User" value="Create User">Create User</button></div>
    </div>
  </form>
</section>
{% endblock %}
