{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="">

  <title>CurryCrown</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
  
  <!-- Owl carousel stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  
  <!-- Nice select -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
  
  <!-- Font Awesome style -->
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
  
  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  
  <!-- Responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
  
  <!-- Additional custom styles (if any) -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  
  <title>{% block title %}Login{% endblock %}</title>
</head>

<body>
  <!-- Header Section -->
  <header class="header_section">
    {% include 'header.html' %}
  </header>

  <!-- Content Section (dynamic content will be inserted here) -->
  {% block content %}
  {% endblock %}

  <!-- Footer Section -->
  <footer class="footer_section">
    {% include 'footer.html' %}
  </footer>

</body>
</html>
