    <!-- footer section -->
    <footer class="footer_section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-col">
                    <h4>Contact Us</h4>
                    <p><i class="fa fa-map-marker" aria-hidden="true"></i> 27, Hudson Lane, Noida</p>
                    <p><i class="fa fa-phone" aria-hidden="true"></i> Call +01 1234567890</p>
                    <p><i class="fa fa-envelope" aria-hidden="true"></i> info@CurryCrown.com</p>
                </div>
                <div class="col-md-4 footer-col">
                    <a class="footer-logo">CurryCrown</a>
                    <p>Best Restaurant To Ever Exist</p>
                </div>
                <div class="col-md-4 footer-col">
                    <h4>Opening Hours</h4>
                    <p>Everyday</p>
                    <p>10.00 Am -10.00 Pm</p>
                </div>
            </div>
            <div class="footer-info">
            </div>
        </div>
    </footer>

    <!-- JavaScript Files -->
</body>
</html>
